.posts__div{
    margin: 20px;
    border: 1px solid lightgray;
    object-fit: contain;
    max-width: 500px;
}

.posts__head{
    padding: 20px;
    display: flex;
    align-items: center;
}

.posts__avatar{
    margin-right: 20px;
}

.posts__image{
    width: 100%;
    object-fit: contain;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.posts__captionContainer{
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-top: 10px;
}

.posts__caption{
    margin-left: 10px;
    font-weight: normal;
}

.posts__commentBox{
    padding: 20px;
}

.uploader__container{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 50%;
}

.posts__comment{
    display: flex;
    align-items: center;
}

.posts__commentContainer{
    display: flex;
    border-top: 1px solid lightgray;
}

.posts__commentInput{
    flex: 1;
    border: none;
    padding:10px;
}

.posts__commentButton{
    flex: 0;
    margin-left: 10px;
    color: #6082a3;
}