*{
  margin: 0;
}

.App {
  background-color: #FAFAFA;
}

.app__imageContainer{
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  padding: 20px;
  border-bottom: 1px solid darkgrey;
  display: flex;
  justify-content: space-between;
  object-fit: contain;
}

.app__headerImage{
  object-fit: contain;
}

.app__form{
  display: flex;
  flex-direction: column;
}

.app__logoutContainer{
  display: flex;
  align-items: center;
}

.app__avatar{
  margin-left: 10px;
}

.app__post{
  display: flex;
}
